//Mixins
@mixin menu-icon {
    width: 100%;
    background: #a2958f;
    height: 60px;
    text-align: right;
    box-sizing: border-box;
    padding: 13px 24px;
    color: #fff;
    display: block;
    cursor: pointer;
    i.fa {
        color: #75646c;
    }

    @media only screen and (min-width: 700px) {
        display: none;
    }
}

@mixin logo {
    position: fixed;
    top: 0;
    float: left;
    margin: 5px 36px;
    cursor: pointer;
    img{
        border-radius: 60%;  
    }
    @media only screen and (min-width: 700px){
        font-size: 24px;
    }
}


@mixin dashboard {
    .logo{
        @include logo;
        z-index: 4;
        @media only screen and (min-width: 700px) {
            z-index: 1000;
        }
    }
    .menu-icon{
        @include menu-icon;
        background:  $adminBlue;
        position: fixed;
        z-index: 2;
        @media only screen and (min-width: 700px) {
            display: block;
            background:  #1a2025;
        }
    }
    .sidebar{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        z-index:3;
        height: 100vh;
        padding: 5em 0em;
        background: #a2958f;
        text-align: center;
        transform-origin: left;
        transform:perspective(1200px) rotateY(90deg);
        transition: all 400ms ease;
        @media only screen and (min-width: 700px) {
            width: 30%;
            transform: none;
        }
        @media only screen and (min-width: 900px) {
            width: 20%;
            transform: none;
        }
        &.active{
            transform: perspective(1200px) rotateY(0deg);
        }
    }
    ul{
        margin: 0;
        padding: 0;
        @media only screen and (min-width: 700px) {
           margin-top: 4em;
        }
    }
    li{
        color: $white;
        font-size: .8em;
        margin:0;
        padding: 0;
        width: 100%;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        height: 40px;
        border-bottom: 1px solid #ffffff1e;
        line-height: 50px;
        @media only screen and (min-width: 700px) {
            font-size: 1em;
            margin: 1.5em 0;
        }
        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            &:hover{
                opacity: 0.6;
                cursor: pointer;
            }
            &.current{
                color: $white;
            }
        }
    }
}

@mixin board {
    h1 {
        margin: 0;
        padding: 1em 0;
        line-height: 1em;
    }
    table{
        width :100%; 
        border-collapse: collapse; 
        thead{
            font-weight: bold;
            text-align:center;
            background-color:#c5b8b2;
            @media only screen and (min-width: 700px) {
                font-size: 16px;
            }
            #order{
                text-align:right;
                border-radius:5px;
                font-size:10px; 
                @media only screen and (min-width: 700px) {
                    font-size: 16px;
                }
            }
            #add_evt a, #order a{
                background-color: transparent;
                border: #2d0a0d 1px solid;
                border-radius:5px;
                font-size:12px;
                padding:5px 7px;
                color:#3e3b46;
                margin: 1px;
                cursor: pointer;
                &:hover{
                    background-color: #2d0a0d;
                   color:#fff;
                }
            }
            
        } 
        .fa{
            border:0;
            cursor:pointer;
        }
        a{
            text-decoration:none;
            color: #161514 ;
            &:hover{
                border-bottom: rgba(22, 21, 20, 0.31) 1px solid;
                opacity:0.8;
                cursor: pointer;
            }
        }
        tbody {
            @media only screen and (min-width: 700px) {
                font-size: 16px;
            }
            tr:nth-child(even){
                background-color: rgba(65, 92, 105, 0.22)
            }
            tr:nth-child(odd){
                background-color: rgba(190, 124, 124, 0.075);
            }
        } 
        tr,td{
            padding: 7px 0px;
            text-align:center;
            @media only screen and (min-width: 700px) {
                padding: 1em 0em;
            }
        }

        td#total {
            text-align: right;
            font-weight: bold;
            padding-right: 1em;
        }
    }
    label{
        font-size: 12px;
        margin:0 5px;
        @media only screen and (min-width: 700px) {
            font-size: 16px;
        }
    }
    input[type="date"],
    select,
    button[type="submit"]{
        border:  rgba(117, 108, 91, 0.494117) 1px solid;
        border-radius: 5px;
        height: 30px;
        padding: 4px 6px;
        font-size: 12px;
        @media only screen and (min-width: 700px) {
            font-size: 14px;
        }
    }
    input[type="date"]{
        padding: 0;
        width: 7.8em;
        @media only screen and (min-width: 700px) {
            width: 9em;
        }
    }
    button[type="submit"]{
        color: #3e3b46;
        height: 40px;
        width: 25%;
        background-color: #c5b8b2;
        float: right;
        transition : all 0.5s;
        margin-top: .3em;
        @media only screen and (min-width: 700px) {
            width: 15%;
        }
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        } 
    }
    #add-meal, #edit-meal{
        text-align:right;
        a{
            background-color: transparent;
            border: #697490 1px solid;
            border-radius:5px;
            font-size:14px;
            padding:5px 7px;
            margin: 1px;
            cursor: pointer;
            &:hover{
                background-color: #43486f;
                color:#fff;
            }
        }
    }

}